.log{
    border: 1px solid black;
    border-radius: 7px;
    background-color: #6B86A3;
    color: #ffff;
}
.sign{
    border: 1px solid black;
    border-radius: 7px;
    background-color: #ffff;
    color: #6B86A3;
}
footer{
    background-color: whitesmoke;
}
.nav_btm{
    background-color: whitesmoke;
}
.dropdown-menu{
    background-color: whitesmoke;
}
.dropdown-item:hover{
    background-color: rgb(227, 227, 227);
}
.hero_body{
    background-color: rgb(238, 238, 238);
}
.hero-section {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    overflow: hidden;
}
.hero-image {
    height: 50%;
    width: 50%;
}
.hero-image img {
    width: 100%;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.hero-text{
    padding-left: 50px;
}
.intro-section {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 20px;
}
.intro-image {
    flex: 0 0 35%;
}
.intro-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.svc{
    border: 1px solid black;
    border-radius: 7px;
    background-color: #6B86A3;
    color: #ffff;
}
.ctn{
    border: 1px solid black;
    border-radius: 7px;
    background-color: #6B86A3;
    color: #ffff;
}

/* dashboard.html css */
.offcanvas-container{
    display: flex;
    align-items: center;
    height: 100vh;
}
.offcanvas-container > .offcanvas{
    width: 300px;
}
.dashboard-btn{
    position: fixed;   
}
.dashboard-gray{
    color: rgb(158, 158, 158);
}
.offcanvas-header > img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.dashboard-item{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dashboard-item:hover{
    background-color: rgb(171, 217, 255);
    color: blue;
    cursor: pointer;
}
.dashboard-item > a{
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
}