/*Nav & Footer*/
.log{
    border: 1px solid black;
    border-radius: 7px;
    background-color: #6B86A3;
    color: whitesmoke;
    transition: all 0.3s ease;
}
.log:hover{
    border: 1px solid black;
    transform: translateY(-3px);
    
}
.sign{
    border: 1px solid black;
    border-radius: 7px;
    background-color: whitesmoke;
    color: #6B86A3;
    transition: all 0.3s ease;
}
.sign:hover{
    border: 1px solid black;
    transform: translateY(-3px);
}
.nav_btm{
    background-color: whitesmoke;
}
.dropdown-menu{
    background-color: whitesmoke;
}
.dropdown-item:hover{
    background-color: rgb(227, 227, 227);
}
footer{
    background-color: whitesmoke;
}
.custom-pagination .page-link {
    color: whitesmoke;
    background-color: #6B86A3;
    padding: 10px 18px;
    margin: 0 5px;
    border-radius: 12px;
    transition: all 0.3s ease;
}
.custom-pagination .page-link:hover {
    background-color: #6B86A3;
    color: whitesmoke;
    transform: translateY(-3px);
}
.custom-pagination .page-item.active .page-link {
    background-color: #6B86A3;
    border-color: #6B86A3;
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.custom-pagination .page-item.disabled .page-link {
    color: #999;
    background-color: #f1f1f1;
    border-color: #ddd;
}

/*Homepage*/
body{
    background-color: rgb(238, 238, 238);
}
.hero-section {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    overflow: hidden;
}
.hero-image {
    height: 50%;
    width: 50%;
}
.hero-image img {
    width: 100%;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.hero-text{
    padding-left: 50px;
}
.intro-section {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 20px;
}
.intro-image {
    flex: 0 0 35%;
}
.intro-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card-avs{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card-why{
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
}
.timeline{
    position: relative;
    margin-left: 20px;
    border-left: 3px solid #6B86A3;
}
.timeline-item{
    position: relative;
    margin-bottom: 30px;
}
.timeline-content{
    background-color: rgb(248, 248, 248);
    padding: 15px;
    border-radius: 20px;
    max-width: 800px;
    margin-left: 20px;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.circle{
    position: absolute;
    left: -10px;
    width: 18px;
    height: 18px;
    background: #6B86A3;
    border-radius: 50%;
    top: 5px;
}

.container-why{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-why .row {
    justify-content: center;
    display: flex;
    gap: 24px;
}
.why-icon{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0 20px 0;
}

.why-icon i {
    font-size: 3rem;
    color: #6B86A3;
}
.accordion-item, .accordion-header{
    border: 1px solid black;
    background-color: rgb(227, 227, 227);
}
.svc{
    border: 1px solid black;
    border-radius: 7px;
    background-color: #6B86A3;
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.svc:hover{
    border: 1px solid black;
    transform: translateY(-3px);
    
}
.ctn{
    border: 1px solid black;
    border-radius: 7px;
    background-color: #6B86A3;
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.ctn:hover{
    border: 1px solid black;
    transform: translateY(-3px);
}

/*Contact*/
.card-reg{
    max-width: 800px;
    margin: auto;
}
.msg{
    border: 1px solid black;
    border-radius: 7px;
    background-color: #6B86A3;
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.hero2{
    background-image: url("/Images/hero_img.jpg");
    padding: 200px;

}
.hero2-text{
    text-align: center;
    color: white;
}
.snd{
    border: 1px solid black;
    border-radius: 7px;
    background-color: #6B86A3;
    color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/*Dashboard*/
.offcanvas-container{
    display: flex;
    align-items: center;
    height: 100vh;
}
.offcanvas-container > .offcanvas{
    width: 300px;
}
.offcanvas-container > .offcanvas > .offcanvas-body{
    padding: 0;
}
.dashboard-btn{
    display: flex;
    align-items: center;
    margin-top: 40vh;
    margin-right: 10px;
    z-index: 100;
   
}
.dashboard-gray{
    color: rgb(158, 158, 158);
    padding-left: 20px;
}
.offcanvas-header > img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.dashboard-item{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.dashboard-item:hover{
    background-color: rgb(220, 238, 253);
    cursor: pointer;
}
.dashboard-item:hover > i, .dashboard-item:hover > a{
    color: blue;
}
.dashboard-item, .dashboard-item a, .dashboard-item i{
    transition: all 0.3s ease;
}
.dashboard-item > a{
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
}
.dashboard-item > i{
    margin-right: 10px;
}
.overview-container{
    width: 200vh;
}
.stat-card {
    padding: 15px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
 
.doc-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #eee;
    transition: 0.2s;
}
 
.doc-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
 
.progress {
    height: 6px;
    border-radius: 10px;
}
 
.progress-bar {
    background-color: #0d6efd;
}
 
.text-purple {
    color: #8b5cf6;
}
.icon-blue{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60%;
    border-radius: 10px;
    background-color: rgb(220, 238, 253);
    color: blue;
}
.icon-orange{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60%;
    border-radius: 10px;
    background-color: #ffe6d4;
    color: orange;
}
.icon-purple{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60%;
    border-radius: 10px;
    background-color: #dfd1ff;
    color: #8b5cf6;
}
.icon-green{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60%;
    border-radius: 10px;
    background-color: #defff0;
    color: #198754;
}