.log{
    border: 1px solid black;
    border-radius: 7px;
    background-color: #6B86A3;
    color: #ffff;
}
.sign{
    border: 1px solid black;
    border-radius: 7px;
    background-color: #ffff;
    color: #6B86A3;
}
footer{
    background-color: whitesmoke;
}
.nav_btm{
    background-color: whitesmoke;
}
.dropdown-menu{
    background-color: whitesmoke;
}
.dropdown-item:hover{
    background-color: rgb(227, 227, 227);
}
.hero-section {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 20px;
}
.hero-image {
    flex: 0 0 35%;
}
.hero-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.intro-section {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 20px;
}
.intro-image {
    flex: 0 0 35%;
}
.intro-image img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.svc{
    border: 1px solid black;
    border-radius: 7px;
    background-color: #6B86A3;
    color: #ffff;
}